<div class="col-xs-12 product-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= button_to 'Back', products_path, :class => "btn btn-default btn-back", :method=> :get %>
      <%= button_to '<', products_path, :class => "btn btn-default btn-back-small", :method=> :get %>
      <% cache @product do %>
        <h2><%= @product.name %></h2>
      <% end %>
    </div>
  <div class="panel-body">

<div class="image-price-container">

    <span class="product-price">£<%= @product.price %></span>
    <%= image_tag(@product.image_url, class: "img-responsive product-image-large img-zoom", data_zoom_image: @product.image_url) %>

</div>
<hr>

<div class="product-description">

  <%= @product.description %>

</div>
<%= form_tag "/payments/create" do %>
  <%= render partial: 'shared/stripe_checkout_button' %>
<% end %>

<p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>

<hr>

<p>
<button class="btn btn-default" data-toggle="collapse" data-target="#comments">Comments&nbsp;<span class="badge"><%= @comments.count %></span>&nbsp;<span class="caret"></span></button>
<div id="comments" class="collapse">
<hr>
<%= render 'new_comment' %>
<%= render 'comments' %>
</div>
<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
    </div><!--Panel Body-->
  </div><!--Panel-->
</div><!--Column-->